.chat-message {
    display: flex;
    align-items: flex-end;
    width: 400px;
    padding: 10px;
}
.right { justify-content: flex-end; }

.bubble {
    display: flex;
    align-items: flex-end;
}
.tip-sent {
    position: relative;
    left: -7px;
}
.tip-received {
    position: relative;
    left: 5px;
}

.chat-message p {
    margin: 0;
}

.username {
    padding: 0 0 3px 15px;
}

.avatar {
    border-radius: 50%;
}
.small { width: 50px; height: 50px; }
.medium { width: 60px; height: 60px; }

.message-box {
    padding-left: 10px;
}

.message-body {
    padding: 10px;
    border-radius: 10px;
}
.sent {
    background-color: #2190F8;
    color: white;
}
.received { background-color: #E5E5EA; }
